/* Coolors Exported Palette - https://coolors.co/f2f3ae-edd382-ff6f5c-020122-4a4238 */

/* CSS HEX */
--vanilla: #f2f3aeff;
--flax: #edd382ff;
--bittersweet: #ff6f5cff;
--oxford-blue: #020122ff;
--taupe: #4a4238ff;

/* CSS HSL */
--vanilla: hsla(61, 74%, 82%, 1);
--flax: hsla(45, 75%, 72%, 1);
--bittersweet: hsla(7, 100%, 68%, 1);
--oxford-blue: hsla(242, 94%, 7%, 1);
--taupe: hsla(33, 14%, 25%, 1);

/* SCSS HEX */
$vanilla: #f2f3aeff;
$flax: #edd382ff;
$bittersweet: #ff6f5cff;
$oxford-blue: #020122ff;
$taupe: #4a4238ff;

/* SCSS HSL */
$vanilla: hsla(61, 74%, 82%, 1);
$flax: hsla(45, 75%, 72%, 1);
$bittersweet: hsla(7, 100%, 68%, 1);
$oxford-blue: hsla(242, 94%, 7%, 1);
$taupe: hsla(33, 14%, 25%, 1);

/* SCSS RGB */
$vanilla: rgba(242, 243, 174, 1);
$flax: rgba(237, 211, 130, 1);
$bittersweet: rgba(255, 111, 92, 1);
$oxford-blue: rgba(2, 1, 34, 1);
$taupe: rgba(74, 66, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-right: linear-gradient(90deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-bottom: linear-gradient(180deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-left: linear-gradient(270deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-top-right: linear-gradient(45deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-bottom-right: linear-gradient(135deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-top-left: linear-gradient(225deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-bottom-left: linear-gradient(315deg, #f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);
$gradient-radial: radial-gradient(#f2f3aeff, #edd382ff, #ff6f5cff, #020122ff, #4a4238ff);